# 1. Prepare the Titanic dataset file (download it from Google)
# 2. Find out the names of passengers younger than 35 years.
# 3. Print the rows from index 10 to 25 and columns 3 to 5
# 4. Find out the statistics aggregate of Age & Fare using the DataFrame.agg() method
# 5. Find out the mean ticket fare price for each of the sex and cabin class combinations

In [2]:
import pandas as pd

In [3]:
#uploading data into online notebook
from google.colab import files        
uploaded = files.upload()

ModuleNotFoundError: No module named 'google.colab'

In [4]:
#Load the Titanic dataset
df = pd.read_excel("titanic3.xls")

In [5]:
#Print the first 5 rows of the DataFrame
print(df.head())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0   24160  211.3375       B5        S    2    NaN
1   0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [7]:
#Find out the names of passengers younger than 35 years
young_passengers = df[df['age'] < 35]['name'].tolist()
print(young_passengers)

['Allen, Miss. Elisabeth Walton', 'Allison, Master. Hudson Trevor', 'Allison, Miss. Helen Loraine', 'Allison, Mr. Hudson Joshua Creighton', 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)', 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)', 'Aubart, Mme. Leontine Pauline', 'Barber, Miss. Ellen "Nellie"', 'Baxter, Mr. Quigg Edmond', 'Bazzani, Miss. Albina', 'Behr, Mr. Karl Howell', 'Bird, Miss. Ellen', 'Birnbaum, Mr. Jakob', 'Bishop, Mr. Dickinson H', 'Bishop, Mrs. Dickinson H (Helen Walton)', 'Bjornstrom-Steffansson, Mr. Mauritz Hakan', 'Bonnell, Miss. Caroline', 'Bowerman, Miss. Elsie Edith']

In [8]:
#Print the rows from index 10 to 25 and columns 3 to 5
subset_df = df.iloc[10:26, 3:6]
print(subset_df)

       sex   age  sibsp
10    male  47.0      1
11  female  18.0      1
12  female  24.0      0
13  female  26.0      0
14    male  80.0      0
15    male   NaN      0
16    male  24.0      0
17  female  50.0      0
18  female  32.0      0
19    male  36.0      0
20    male  37.0      1
21  female  47.0      1
22    male  26.0      0
23  female  42.0      0
24  female  29.0      0
25    male  25.0      0

In [9]:
#Find out the statistics aggregate of Age & Fare using the DataFrame.agg() method
agg_df = df[['age', 'fare']].agg(['min', 'max', 'mean', 'median', 'std'])
print(agg_df)

              age        fare
min      0.916700    0.000000
max     80.000000  262.375000
mean    36.051803  101.086544
median  35.000000   75.241700
std     16.522492   80.801215

In [12]:
#Find out the mean ticket fare price for each of the sex and cabin class combinations
fare_means = df.groupby(['sex', 'pclass'])['fare'].mean()
print(fare_means)

sex     pclass
female  1         135.827637
male    1          68.082505
Name: fare, dtype: float64

In [1]:
#one way of filtering 
#finding the pclass passangers have 2 and 3 then
class_23=df[df["pclass"].isin([2,3])]
print(class_23)
print(class_23.shape)

NameError: name 'df' is not defined

In [ ]:
# How to work with known and unknown values
age_no_na = df[df["age"].notna()]
print(age_no_na)
print(age_no_na.shape)

In [ ]:
#work with unknown data
age_na=df[df["age"].isna()]
print(age_na)
print(age_na.shape)

In [ ]:
#how to calculate the summary statistics
#mean
age_avg=df[df["age"].mean()]
print(age_avg)
#median of age & fare
age_fare_M = df[df["age","fare"]].median()
print(age_fare_M)

In [4]:
#how to calculate the summary statistics
#mean,  std,    min,    25%,    50% ,   75%,    max,     count
age_fare_M=df[df["age","fare"]].describe()
print(age_fare_M)

**Akula Zaheer Sha**

---


**a.zaheersha@gmail.com**

---

**9494333702**